@charset "UTF-8";
@font-face {
    font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

.ydl_c {
	background-color: rgb(87, 187, 138) !important;
}

.jal {
	font-family: 'yg-jalnan', Arial, Helvetica, sans-serif !important;
}

.na {
	font-family: 'nanumsquare', Arial, Helvetica, sans-serif !important;
}

.noto {
	font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif !important;
}

.step_sh {
	margin-top: 5em;
}

a {
	
	color: black!important;
	font-style: none;
}

.fw6 {
	font-weight: 600;
}

.lh15 {
	line-height: 17px;
	vertical-align: middle;
}


.semibar_span{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: 'yg-jalnan', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(43, 43, 43);
}

.semibar_span:after {
    display:block;
    content: '';
    border-bottom: solid 2px rgb(87, 187, 138);
    transform: scaleX(0);  
    transition: all .3s ease-in-out 0s;
}

.semibar_span:hover:after { 
    transform: scaleX(1); 
}

.semibar_span:after{
    transform-origin:  0% 50%; 
}