<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
		
	<resultMap type="Member" id="AdminMemResultSet">
		<id property="mNo" column="M_NO"/>
		<result property="mId" column="M_ID"/>
		<result property="pwd" column="PWD"/>
		<result property="mName" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="mSort" column="M_SORT"/>
		<result property="mStatus" column="M_STATUS"/>
		<result property="pushEnabled" column="PUSH_ENABLED"/>
		<result property="enrollDate" column="ENROLLDATE"/>
	</resultMap>
	
		<resultMap type="Driver" id="AdminDriResultSet">
		<id property="dNo" column="D_NO"/>
		<result property="dmNo" column="D_M_NO"/>
		<result property="capacity" column="CAPACITY"/>
		<result property="type" column="TYPE"/>
		<result property="carNo" column="CAR_NO"/>
		<result property="idImgOrigin" column="ID_IMG_ORIGIN"/>
		<result property="idImgRename" column="ID_IMG_RENAME"/>
		<result property="regCardImgOrigin" column="CAR_IMG_ORIGIN"/>
		<result property="regCardImgRename" column="CAR_IMG_RENAME"/>
	</resultMap>
	
	<resultMap type="Driver" id="AdminDriResultSet">
		<id property="dNo" column="D_NO"/>
		<result property="dmNo" column="D_M_NO"/>
		<result property="capacity" column="CAPACITY"/>
		<result property="type" column="TYPE"/>
		<result property="carNo" column="CAR_NO"/>
		<result property="idImgOrigin" column="ID_IMG_ORIGIN"/>
		<result property="idImgRename" column="ID_IMG_RENAME"/>
		<result property="regCardImgOrigin" column="CAR_IMG_ORIGIN"/>
		<result property="regCardImgRename" column="CAR_IMG_RENAME"/>
		
		
	</resultMap>
	
	
	
	
	<!-- Member List -->
	<select id="selectMemList" resultMap="AdminMemResultSet">
		SELECT *
		FROM MEMBER	
		ORDER BY TO_NUMBER(SUBSTR(M_NO, 2)) DESC
	</select>
	
	<!-- 표현안함 -->
	<select id="getMemListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
	</select>
	
	<!-- Driver List --> 
	<select id="selectDriList" resultMap="AdminDriResultSet">

<!-- 		SELECT *
		FROM MEMBER	
		WHERE M_SORT = '사업자'
 -->
 		
<!-- 		SELECT *
		FROM MEMBER M 
		JOIN DRIVER D ON(M.M_NO=D.D_M_NO)
 -->		
		SELECT *
	    FROM DRIVER D 
	    JOIN MEMBER M 
	    ON(M.M_NO=D.D_M_NO)
	    WHERE M.M_NO= M_NO

<!-- 		SELECT *
		FROM MEMBER
		WHERE m_sort='사업자'
		ORDER BY TO_NUMBER(SUBSTR(M_NO, 2)) DESC
 -->	
 	</select>

	<!-- <select id="">
		SELECT d.dNo, d.dmNo, d.capacity, d.type, d.carNo, d.idImgRename, d.regCardImgRename
				m.mName
		
		FROM DRIVER D
		JOIN MEMBER M
		ON d.
			
	</select> -->

<!-- 	
	
	<select id="selectDriList" resultMap="AdminDriResultSet">
		SELECT *
		FROM DRIVER
		ORDER BY TO_NUMBER(SUBSTR(D_M_NO,2)) DESC
	</select> -->
	
	
	
	<!-- 표현안함 -->
	<select id="getDriListCount" resultType="_int">
		SELECT COUNT(*)
		FROM DRIVER
	</select>
	
</mapper>












