<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
		
	<resultMap type="Member" id="AdminMemResultSet">
		<id property="mNo" column="M_NO"/>
		<result property="mId" column="M_ID"/>
		<result property="pwd" column="PWD"/>
		<result property="mName" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="mSort" column="M_SORT"/>
		<result property="mStatus" column="M_STATUS"/>
		<result property="pushEnabled" column="PUSH_ENABLED"/>
		<result property="enrollDate" column="ENROLLDATE"/>
	</resultMap>
	
	<resultMap type="Driver" id="AdminDriResultSet">
		<id property="dNo" column="D_NO"/>
		<result property="dmNo" column="D_M_NO"/>
		<result property="capacity" column="CAPACITY"/>
		<result property="type" column="TYPE"/>
		<result property="carNo" column="CAR_NO"/>
		<result property="idImgOrigin" column="ID_IMG_ORIGIN"/>
		<result property="idImgRename" column="ID_IMG_RENAME"/>
		<result property="regCardImgOrigin" column="CAR_IMG_ORIGIN"/>
		<result property="regCardImgRename" column="CAR_IMG_RENAME"/>
	</resultMap>
	
		<resultMap type="adRefund" id="AdminRefResultSet">
		<id property="mNo" column="M_NO"/>
		<result property="rNo" column="R_NO"/>
		<result property="email" column="EMAIL"/>
		<result property="mName" column="M_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="cancAmount" column="CANC_AMOUNT"/>
		<result property="cancYn" column="CANC_YN"/>
	</resultMap>
	
	
	
	<!-- Member List -->
	<select id="selectMemList" resultMap="AdminMemResultSet">
		SELECT *
		FROM MEMBER	
		ORDER BY TO_NUMBER(SUBSTR(M_NO, 2)) DESC
	</select>
	
	<!-- 표현안함 -->
	<select id="getMemListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
	</select>
	
	
	
	
	<!-- Driver List --> 
	<select id="selectDriList" resultMap="AdminDriResultSet">
		   SELECT 
		   D.D_NO, D.D_M_NO,
		   M.NAME REGCARD_IMG_ORIGIN, 
		   D.CAPACITY, D.TYPE, D.CAR_NO, 
		   D.ID_IMG_RENAME, D.REGCARD_IMG_RENAME
		FROM MEMBER M LEFT OUTER 
		JOIN DRIVER D ON(M.M_NO = D.D_M_NO)
 	</select>
	
	<!-- 표현안함 -->
	<select id="getDriListCount" resultType="_int">
		SELECT COUNT(*)
		FROM DRIVER
	</select>
	
	
	
	
	<!-- RESERVATION LIST -->
	<!-- 표현안함 -->
<!-- 	<select id="getResListCount" resultType="_int">
		SELECT COUNT(*)
		FROM RESERVATION
	</select> -->
	
	
	<!--adminPage refund count and list -->
	<select id="refundCount" resultType="_int">
	SELECT COUNT(*)
	FROM RESERVATION R
		 JOIN MEMBER M ON(R.R_M_NO = M.M_NO)
	  	 JOIN PAYMENT P ON (R.R_NO = P.P_R_NO)
		 JOIN CALCULATE C ON (P.P_NO =C.C_P_NO)
	</select>
	
	
	<select id="refundList" resultMap="AdminRefResultSet">
	SELECT
		M.M_NO AS M_NO,
		P.P_R_NO AS R_NO,
		M.M_ID AS EMAIL,
		M.PHONE AS PHONE,
		P.CANC_AMOUNT AS CANC_AMOUNT,
		P.CALC_YN AS CALC_YN

	FROM RESERVATION R
	JOIN MEMBER M ON(R.R_M_NO = M.M_NO)
	JOIN PAYMENT P ON (R.R_NO = P.P_R_NO)
	JOIN CALCULATE C ON (P.P_NO =C.C_P_NO)
	WHERE C.CALC_YN ='Y'
	</select>
	
	
	
	
	
	
	
	
	
</mapper>
