<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="driverMapper">
	<resultMap type="Driver" id="DriverResultSet">
		<id property="dId" column="DID"/>
		<result property="dStatus" column="D_STATUS"/>
	</resultMap>
	
</mapper>












