<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResultSet">
		<id property="mNo" column="M_NO"/>
		<result property="mId" column="M_ID"/>
		<!-- <id property="mId" column="M_ID"/> -->
		<result property="pwd" column="PWD"/>
		<result property="mName" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="mSort" column="M_SORT"/>
		<result property="mStatus" column="M_STATUS"/>
		<result property="signupType" column="SIGNUP_TYPE"/>
		<result property="pushEnabled" column="PUSH_ENABLED"/>
		<result property="enrollDate" column="ENROLLDATE"/>
	</resultMap>
	
	
	<resultMap type="Driver" id="driverResultSet">
		<id property="dNo" column="D_NO"/>
		<result property="dmNo" column="D_M_NO"/>
		<result property="capacity" column="CAPACITY"/>
		<result property="type" column="TYPE"/>
		<result property="carNo" column="CAR_NO"/>
		<result property="idImgOrigin" column="ID_IMG_ORIGIN"/>
		<result property="idImgRename" column="ID_IMG_RENAME"/>
		<result property="regCardImgOrigin" column="REGCARD_IMG_ORIGIN"/>
		<result property="regCardImgRename" column="REGCARD_IMG_RENAME"/>
	</resultMap>
	
	
	<!-- 샘플 데이터 -->
	<insert id="insertSampleMembers" parameterType="java.util.List">
		INSERT INTO MEMBER(M_NO, M_ID, PWD, NAME, PHONE, M_SORT, M_STATUS, SIGNUP_TYPE, PUSH_ENABLED, ENROLLDATE)
		SELECT 'M' || SEQ_MNO.NEXTVAL, A.*
		FROM(
		<foreach item="item" index="index" collection="list" separator="UNION ALL">
			SELECT #{item.mId},
					#{item.pwd},
					#{item.mName},
					#{item.phone},
					#{item.mSort},
					#{item.mStatus},
					#{item.signupType},
					#{item.pushEnabled},
					#{item.enrollDate}
			FROM DUAL
		</foreach>
		) A
	</insert>	
	
	<!-- 로그인 -->
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE M_ID = #{mId}
		  AND M_STATUS = '정상'
	</select>

	<!-- 이메일 중복검사 -->
	<select id="emailChk" resultType="_int">
		SELECT COUNT(*) 
		FROM MEMBER
		WHERE M_ID = #{mId}
	</select>
	
	<!-- 회원가입(일반) -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES('M' || SEQ_MNO.NEXTVAL, 
									#{mId},
									#{pwd},
									#{mName},
									#{phone},
									#{mSort},
									'정상',
									#{signupType},
									#{pushEnabled},
									SYSDATE		
									)
	</insert>
	
	<!-- 회원가입(사업자/기사) -->
	<insert id="insertDriver" parameterType="Driver">
		INSERT INTO DRIVER VALUES('D' || SEQ_DNO.NEXTVAL,
									#{dmNo},
									#{capacity},
									#{type},
									#{carNo},
									#{idImgOrigin},
									#{idImgRename},
									#{regCardImgOrigin},
									#{regCardImgRename}
									)
	</insert>
	
	<!-- 비밀번호 재설정 -->
	<update id="updatePwd" parameterType="Member">
		UPDATE MEMBER 
		SET PWD = #{pwd}
		WHERE M_ID = #{mId}
	</update>
	
	<update id="setPushEnabled" parameterType="Member">
		UPDATE MEMBER 
		SET PUSH_ENABLED = #{pushEnabled}
		WHERE M_ID = #{mId}
	</update>
</mapper>     








