<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPageMapper">
	<!-- resultMap Address-->
	<resultMap id="addressResultSet" type="Address">
		<id property="aNo" column="A_NO"/>
		<result property="aMno" column="A_M_NO"/>
		<result property="aPlace" column="PLACE"/>
		<result property="aName" column="NAME"/>
		<result property="aAddress" column="ADDRESS"/>
		<result property="aLatitude" column="LATITUDE"/>
		<result property="aLongitude" column="LONGITUDE"/>
		<result property="aPhone" column="PHONE"/>
		<result property="aRecentDate" column="RECENTDATE"/>
	</resultMap>
	<!-- resultMap Member-->
	<resultMap id="memberResultSet" type="Member">
		<id property="mNo" column="M_NO"/>
		<result property="mId" column="M_ID"/>
		<result property="pwd" column="PWD"/>
		<result property="mName" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="mSort" column="M_SORT"/>
		<result property="mStatus" column="M_STATUS"/>
		<result property="pushEnabled" column="PUSH_ENABLED"/>
		<result property="enrollDate" column="ENROLLDATE"/>
	</resultMap>
	<!-- resultMap Driver-->
	<resultMap id="driverResultSet" type="Driver">
		<id property="dNo" column="D_NO"/>
		<result property="dmNo" column="D_M_NO"/>
		<result property="capacity" column="CAPACITY"/>
		<result property="type" column="TYPE"/>
		<result property="carNo" column="CAR_NO"/>
		<result property="idImgOrigin" column="ID_IMG_ORIGIN"/>
		<result property="idImgRename" column="ID_IMG_RENAME"/>
		<result property="regCardImgOrigin" column="REGCARD_IMG_ORIGIN"/>
		<result property="regCardImgRename" column="REGCARD_IMG_RENAME"/>
	</resultMap>
	
	<!-- resultMap Reservation-->
	<resultMap id="rsvResultSet" type="Reservation">
		<id property="rNo" column="R_NO"/>
		<result property="rMNo" column="R_M_NO"/>
		<result property="rDNo" column="R_D_NO"/>
		<result property="capacity" column="CAPACITY"/>
		<result property="type" column="TYPE"/>
		<result property="startName" column="START_NAME"/>
		<result property="endName" column="END_NAME"/>
		<result property="startPhone" column="START_PHONE"/>
		<result property="endPhone" column="END_PHONE"/>
		<result property="startAddr" column="START_ADDR"/>
		<result property="endAddr" column="END_ADDR"/>
		<result property="distance" column="DISTANCE"/>
		<result property="rightLoad" column="RIGHT_LOAD"/>
		<result property="rightUnload" column="RIGHT_UNLOAD"/>
		<result property="startDate" column="START_DATE"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endDate" column="END_DATE"/>
		<result property="endTime" column="END_TIME"/>
		<result property="helpLoad" column="HELP_LOAD"/>
		<result property="helpUnload" column="HELP_UNLOAD"/>
		<result property="luggage" column="LUGGAGE"/>
		<result property="msg" column="MSG"/>
		<result property="amount" column="AMOUNT"/>
	</resultMap>
	
	<!-- resultMap Reservation&Payment-->
	<resultMap id="rsvPayResultSet" type="Reservation">
		<id property="rNo" column="R_NO"/>
		<result property="rMNo" column="R_M_NO"/>
		<result property="rDNo" column="R_D_NO"/>
		<result property="capacity" column="CAPACITY"/>
		<result property="type" column="TYPE"/>
		<result property="startName" column="START_NAME"/>
		<result property="endName" column="END_NAME"/>
		<result property="startPhone" column="START_PHONE"/>
		<result property="endPhone" column="END_PHONE"/>
		<result property="startAddr" column="START_ADDR"/>
		<result property="endAddr" column="END_ADDR"/>
		<result property="distance" column="DISTANCE"/>
		<result property="rightLoad" column="RIGHT_LOAD"/>
		<result property="rightUnload" column="RIGHT_UNLOAD"/>
		<result property="startDate" column="START_DATE"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endDate" column="END_DATE"/>
		<result property="endTime" column="END_TIME"/>
		<result property="helpLoad" column="HELP_LOAD"/>
		<result property="helpUnload" column="HELP_UNLOAD"/>
		<result property="luggage" column="LUGGAGE"/>
		<result property="msg" column="MSG"/>
		<result property="amount" column="AMOUNT"/>
		<association property="payment" resultMap="paymentResultSet"/>
	</resultMap>
	
	<!-- resultMap Payment  -->
	<resultMap id="paymentResultSet" type="Payment">
		<id property="pNo" column="P_NO"/>
		<result property="pRNo" column="P_R_NO"/>
		<result property="dealYN" column="DEAL_YN"/>
		<result property="dealDate" column="DEAL_DATE"/>
		<result property="cancYN" column="CANC_YN"/>
		<result property="cancDate" column="CANC_DATE"/>
		<result property="payYN" column="PAY_YN"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
	</resultMap>
	
<!-- 	<resultMap id="calculateResultSet" type="Caculate">
	
	</resultMap> -->
	
	<!-- 폰번호 업데이트 -->
	<update id="updatePhone" parameterType="Member">
		UPDATE MEMBER
		SET PHONE = #{phone}
		WHERE M_NO = #{mNo}
	</update>
	<!-- 비밀번호 업데이트 -->
	
	<!-- 프로필사진 업데이트 -->
	<update id="updateProfileImg" parameterType="Driver">
		UPDATE DRIVER
		SET ID_IMG_ORIGIN = #{idImgOrigin},
			ID_IMG_RENAME = #{idImgRename}
		WHERE D_M_NO = #{dmNo}
	</update>
	<!-- 주소록갯수 -->
	<select id="getAddrListCount" resultType="_int">
		SELECT COUNT(*)
		FROM ADDRESS
		WHERE A_M_NO=#{mNo}
	</select>
	<!-- 주소록 리스트 -->
	<select id="selectAddrList" resultMap="addressResultSet">
		SELECT *
		FROM ADDRESS
		WHERE A_M_NO=#{mNo}
		ORDER BY RECENTDATE DESC
	</select>
	<!-- 수정 주소록 상세 불러오기 -->	
	<select id="getUpAddr" resultMap="addressResultSet">
		SELECT *
		FROM ADDRESS
		WHERE A_NO=#{aNo}
	</select>
	
	<!--  주소록 수정 -->
	<update id="updateAddr" parameterType="Address">
		UPDATE ADDRESS SET 
		<choose>
			<when test="aPlace != null and aPlace !=''">
				PLACE=#{aPlace},
			</when>
			<otherwise>
				PLACE=NULL,	
			</otherwise>		 
		</choose>
		NAME=#{aName},
		ADDRESS=#{aAddress},
		LATITUDE=#{aLatitude},
		LONGITUDE=#{aLongitude},
		PHONE=#{aPhone},
		RECENTDATE=SYSDATE
		WHERE A_NO=#{aNo}
	</update>
	<!-- 주소록 추가  -->
	<insert id="insertAddr" parameterType="Address">
		INSERT INTO ADDRESS VALUES
		<choose>
			<when test="aPlace != null and aPlace !=''">
				('A' || SEQ_ANO.NEXTVAL,#{aMno},#{aPlace},#{aName},#{aAddress},#{aLatitude},#{aLongitude},#{aPhone},SYSDATE)	
			</when>
			<otherwise>
				('A' || SEQ_ANO.NEXTVAL,#{aMno},NULL,#{aName},#{aAddress},#{aLatitude},#{aLongitude},#{aPhone},SYSDATE)	
			</otherwise>
		</choose>
	</insert>
	<!--  주소록 삭제 -->
	<delete id="deleteAddr" parameterType="Address">
		DELETE FROM ADDRESS
		WHERE A_NO=#{aNo}
	</delete>
	
	<!-- 트럭정보  -->
	<select id="truckInfoView" resultMap="driverResultSet">
	SELECT *
	FROM DRIVER
	WHERE D_M_NO=#{mNo}
	</select>
	
	<!-- 마이페이지 예약내역  -->
	<select id="selectRsvListCount" resultType="_int">
	SELECT COUNT(*)
	FROM RESERVATION R LEFT OUTER JOIN PAYMENT P ON(R.R_NO=P.P_R_NO)
	WHERE R.R_M_NO = #{mNo}
	ORDER BY TO_NUMBER(SUBSTR(R.R_NO, 2)) DESC
	</select>
	<!-- 마이페이지 예약내역  -->
	<select id="selectRsvPayList" resultMap="rsvResultSet">
	SELECT *
	FROM RESERVATION R LEFT OUTER JOIN PAYMENT P ON(R.R_NO=P.P_R_NO)
	WHERE R.R_M_NO = #{mNo}
	ORDER BY TO_NUMBER(SUBSTR(R.R_NO, 2)) DESC
	</select>
	
	<!--  마이페이지 기사정보 -->
	<select id="getRsvDinfo" resultMap="driverResultSet">
	SELECT M.NAME REGCARD_IMG_ORIGIN, M.PHONE REGCARD_IMG_RENAME, D.CAPACITY, D.TYPE, D.CAR_NO, D.ID_IMG_RENAME
	FROM MEMBER M LEFT OUTER JOIN DRIVER D ON(M.M_NO=D.D_M_NO)
	WHERE D.D_NO=#{dNo}
	</select>
	<!-- 예약정보 상세보기 -->
	<select id="rDetail" resultMap="rsvPayResultSet">
	SELECT *
	FROM RESERVATION R LEFT OUTER JOIN PAYMENT P ON(R.R_NO=P.P_R_NO)
	WHERE R_NO = #{rNo}
	</select>
	<!-- 예약정보 msg 업데이트 -->
	<update id="upRSVmsg" parameterType="Reservation">
		UPDATE RESERVATION
		SET MSG = #{msg}
		WHERE R_NO = #{rNo}
	</update>
</mapper>