<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	
	<!-- resultMap -->
	<resultMap id="noticeResultSet" type="Notice">
		<id property="nNo" column="N_NO"/>
		<result property="nTitle" column="N_TITLE"/>
		<result property="nWriter" column="N_WRITER"/>
		<result property="nContent" column="N_CONTENT"/>
		<result property="nImgOrigin" column="N_IMG_ORIGIN"/>
		<result property="nImgRename" column="N_IMG_RENAME"/>
		<result property="nSort" column="N_SORT"/>
		<result property="nCreateDate" column="N_CREATEDATE"/>
		<result property="nModifyDate" column="N_MODIFYDATE"/>
		<result property="nStatus" column="N_STATUS"/>
	
	
	</resultMap>
	
	<!-- 사용자 게시글 갯수 -->
	<select id="userGetListCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE N_STATUS='Y'
		AND N_SORT IN ('공통','일반')	
	</select>
	
	<!-- 사용자 게시글 목록 -->
	<select id="userSelectList" resultMap="noticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE N_STATUS='Y'
		AND N_SORT IN ('공통','일반')
		ORDER BY TO_NUMBER(SUBSTR(N_NO,2)) DESC
	</select>
	
	<!-- 공통 게시글 상세보기 -->
	<select id="selectNoticeDetail" resultMap="noticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE N_NO=#{nNo}
		AND N_STATUS='Y'
	</select>
	
	<!-- 사용자 게시글 상세보기 이전글 -->
	<select id="userSelectPreList" resultMap="noticeResultSet">
		<![CDATA[
		SELECT *
		FROM NOTICE
		WHERE TO_NUMBER(SUBSTR(N_NO,2))=(SELECT MAX(TO_NUMBER(SUBSTR(N_NO,2))) 
                                    FROM NOTICE 
                                    WHERE TO_NUMBER(SUBSTR(N_NO,2)) < TO_NUMBER(SUBSTR(#{nNo},2))
                                    AND N_STATUS='Y'
                                    AND N_SORT IN ('공통','일반'))
		]]>
	</select>
	
	<!-- 사용자 게시글 상세보기 다음글 -->
	<select id="userSelectNextList" resultMap="noticeResultSet">
		<![CDATA[
		SELECT *
		FROM NOTICE
		WHERE TO_NUMBER(SUBSTR(N_NO,2))=(SELECT MIN(TO_NUMBER(SUBSTR(N_NO,2))) 
                                    FROM NOTICE 
                                    WHERE TO_NUMBER(SUBSTR(N_NO,2)) > TO_NUMBER(SUBSTR(#{nNo},2))
                                    AND N_STATUS='Y'
                                    AND N_SORT IN ('공통','일반'))
		]]>
	</select>
	
	<!-- 공통 게시판 등록 -->
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE
		VALUES('N' || SEQ_NNO.NEXTVAL,#{nTitle},#{nWriter},
		#{nContent},#{nImgOrigin},#{nImgRename},
		#{nSort},SYSDATE,SYSDATE,DEFAULT)
	</insert>
	
	<!-- 공통 게시판 수정 -->
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE
		SET N_TITLE=#{nTitle}, N_CONTENT=#{nContent}, N_IMG_ORIGIN=#{nImgOrigin}, N_IMG_RENAME=#{nImgRename},
			N_SORT=#{nSort}, N_MODIFYDATE=SYSDATE
		WHERE N_NO=#{nNo}
	</update>
	
	<!-- 공통 게시판 삭제 -->
	<update id="deleteNotice">
		UPDATE NOTICE
		SET N_STATUS='N'
		WHERE N_NO=#{nNo}
	</update>

	<!-- 사용자 게시판 검색 리스트 갯수 -->
	<select id="userSearchGetListCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE N_SORT IN ('공통','일반')
		AND N_STATUS='Y'
		AND (N_TITLE,N_CONTENT,N_WRITER) IN (SELECT N_TITLE,N_CONTENT,N_WRITER
		                                    FROM NOTICE
		                                    WHERE N_TITLE LIKE '%' || #{keyword} || '%'
		                                    OR N_CONTENT LIKE '%' || #{keyword} || '%'
		                                    OR N_WRITER LIKE '%' || #{keyword} || '%')
	</select>
	
	<!-- 사용자 게시판 검색 리스트 -->
	<select id="userSearchSelectList" resultMap="noticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE N_SORT IN ('공통','일반')
		AND N_STATUS='Y'
		AND (N_TITLE,N_CONTENT,N_WRITER) IN (SELECT N_TITLE,N_CONTENT,N_WRITER
		                                    FROM NOTICE
		                                    WHERE N_TITLE LIKE '%' || #{keyword} || '%'
		                                    OR N_CONTENT LIKE '%' || #{keyword} || '%'
		                                    OR N_WRITER LIKE '%' || #{keyword} || '%')
		ORDER BY TO_NUMBER(SUBSTR(N_NO,2)) DESC		                                   
	</select>

	<!-- 기사 게시글 갯수 -->
	<select id="driverGetListCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE N_STATUS='Y'
		AND N_SORT IN ('공통','사업자')	
	</select>
	
	<!-- 기사 게시글 리스트 -->
	<select id="driverSelectList" resultMap="noticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE N_STATUS='Y'
		AND N_SORT IN ('공통','사업자')
		ORDER BY TO_NUMBER(SUBSTR(N_NO,2)) DESC
	</select>
	
	<!-- 기사 게시글 상세보기 이전글 -->
	<select id="driverSelectPreList" resultMap="noticeResultSet">
		<![CDATA[
		SELECT *
		FROM NOTICE
		WHERE TO_NUMBER(SUBSTR(N_NO,2))=(SELECT MAX(TO_NUMBER(SUBSTR(N_NO,2))) 
                                    FROM NOTICE 
                                    WHERE TO_NUMBER(SUBSTR(N_NO,2)) < TO_NUMBER(SUBSTR(#{nNo},2))
                                    AND N_STATUS='Y'
                                    AND N_SORT IN ('공통','사업자'))
		]]>
	</select>
	
	<!-- 기사 게시글 상세보기 다음글 -->
	<select id="driverSelectNextList" resultMap="noticeResultSet">
		<![CDATA[
		SELECT *
		FROM NOTICE
		WHERE TO_NUMBER(SUBSTR(N_NO,2))=(SELECT MIN(TO_NUMBER(SUBSTR(N_NO,2))) 
                                    FROM NOTICE 
                                    WHERE TO_NUMBER(SUBSTR(N_NO,2)) > TO_NUMBER(SUBSTR(#{nNo},2))
                                    AND N_STATUS='Y'
                                    AND N_SORT IN ('공통','사업자'))
		]]>
	</select>
	
	<!-- 기사 게시판 검색 리스트 갯수 -->
	<select id="driverSearchGetListCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE N_SORT IN ('공통','사업자')
		AND N_STATUS='Y'
		AND (N_TITLE,N_CONTENT,N_WRITER) IN (SELECT N_TITLE,N_CONTENT,N_WRITER
		                                    FROM NOTICE
		                                    WHERE N_TITLE LIKE '%' || #{keyword} || '%'
		                                    OR N_CONTENT LIKE '%' || #{keyword} || '%'
		                                    OR N_WRITER LIKE '%' || #{keyword} || '%')
	</select>
	
	<!-- 기사 게시판 검색 리스트 -->
	<select id="driverSearchSelectList" resultMap="noticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE N_SORT IN ('공통','사업자')
		AND N_STATUS='Y'
		AND (N_TITLE,N_CONTENT,N_WRITER) IN (SELECT N_TITLE,N_CONTENT,N_WRITER
		                                    FROM NOTICE
		                                    WHERE N_TITLE LIKE '%' || #{keyword} || '%'
		                                    OR N_CONTENT LIKE '%' || #{keyword} || '%'
		                                    OR N_WRITER LIKE '%' || #{keyword} || '%')
		ORDER BY TO_NUMBER(SUBSTR(N_NO,2)) DESC		                                    
	</select>


</mapper>