<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservationMapper">
	<resultMap id="reservationResultSet" type="Reservation">
		<id property="rNo" column="R_NO"/>
		<result property="rMNo" column="R_M_NO"/>
		<result property="rDNo" column="R_D_NO"/>
		<result property="capacity" column="CAPACITY"/>
		<result property="type" column="TYPE"/>
		<result property="startName" column="START_NAME"/>
		<result property="endName" column="END_NAME"/>
		<result property="startPhone" column="START_PHONE"/>
		<result property="endPhone" column="END_PHONE"/>
		<result property="startAddr" column="START_ADDR"/>
		<result property="endAddr" column="END_ADDR"/>
		<result property="distance" column="DISTANCE"/>
		<result property="rightLoad" column="RIGHT_LOAD"/>
		<result property="rightUnload" column="RIGHT_UNLOAD"/>
		<result property="startDate" column="START_DATE"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endDate" column="END_DATE"/>
		<result property="endTime" column="END_TIME"/>
		<result property="helpLoad" column="HELP_LOAD"/>
		<result property="helpUnload" column="HELP_UNLOAD"/>
		<result property="luggage" column="LUGGAGE"/>
		<result property="msg" column="MSG"/>
		<result property="amount" column="AMOUNT"/>
		<result property="dealYN" column="DEAL_YN"/>
		<result property="dealDate" column="DEAL_DATE"/>
	</resultMap>
	
	<select id="mibaechar" resultMap="reservationResultSet">
		<![CDATA[
			SELECT *
			FROM (SELECT *
				FROM RESERVATION
				ORDER BY START_DATE DESC)
			WHERE DEAL_YN = 'N'
			AND CAPACITY = (SELECT CAPACITY
							FROM DRIVER
							WHERE D_M_NO  = #{mNo})
            AND TYPE = (SELECT TYPE
							FROM DRIVER
							WHERE D_M_NO  = #{mNo})
			AND ROWNUM <=10
		]]>
	</select>
	
	<select id="myBaechar" resultMap="reservationResultSet">
		<![CDATA[
			SELECT *
			FROM RESERVATION
			WHERE R_D_NO = (SELECT D_NO
							FROM DRIVER
							WHERE D_M_NO = #{mNo})
			AND ROWNUM <= 10
		]]>
	</select>
	
	<select id="driverCal" resultMap="reservationResultSet">
		SELECT *
		FROM RESERVATION
		WHERE R_D_NO = (SELECT D_NO
						FROM DRIVER
						WHERE D_M_NO = #{mNo})
	</select>
	<select id="driverModal" resultMap="reservationResultSet">
		SELECT * FROM RESERVATION
		WHERE R_NO = #{rNo}
	</select>
	
	<update id="deal">
		UPDATE RESERVATION
		SET R_D_NO = (SELECT D_NO
						FROM DRIVER
						WHERE D_M_NO = #{rMNo}),
			DEAL_DATE = SYSDATE,
			DEAL_YN = 'Y'
		WHERE R_NO = #{rNo}
	</update>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
			FROM (SELECT *
				FROM RESERVATION
				ORDER BY START_DATE DESC)
			WHERE DEAL_YN = 'N'
			AND CAPACITY = (SELECT CAPACITY
							FROM DRIVER
							WHERE D_M_NO  = #{mNo})
            AND TYPE = (SELECT TYPE
							FROM DRIVER
							WHERE D_M_NO  = #{mNo})
	</select>
	
	<select id="baeList" resultMap="reservationResultSet">
		SELECT *
		FROM RESERVATION
		WHERE DEAL_YN = 'N'
			AND CAPACITY = (SELECT CAPACITY
							FROM DRIVER
							WHERE D_M_NO  = #{mNo})
            AND TYPE = (SELECT TYPE
							FROM DRIVER
							WHERE D_M_NO  = #{mNo})
		ORDER BY START_DATE DESC
	</select>
	
	
	<update id="cancel">
		UPDATE RESERVATION
		SET R_D_NO = NULL,
			DEAL_DATE = NULL,
			DEAL_YN = 'N'
		WHERE R_NO = #{rNo}
	</update>
	
	<select id="getMyCount" resultType="_int">
			SELECT COUNT(*)
			FROM RESERVATION
			WHERE R_D_NO = (SELECT D_NO
							FROM DRIVER
							WHERE D_M_NO = #{mNo})
	</select>
	
	<select id="myDetail" resultMap="reservationResultSet">
		SELECT *
		FROM RESERVATION
		WHERE R_D_NO = (SELECT D_NO
							FROM DRIVER
							WHERE D_M_NO = #{mNo})
		ORDER BY DEAL_DATE DESC
	</select>
	
	<select id="calcRCount" resultType="_int">
		<![CDATA[
			SELECT COUNT(*)
			FROM RESERVATION
			WHERE (
				(RIGHT_UNLOAD IS NULL AND END_DATE <SYSDATE)
			OR	(RIGHT_UNLOAD='바로 하차' AND RIGHT_LOAD IS NULL AND START_DATE<SYSDATE)
			OR	(RIGHT_UNLOAD='바로 하차' AND RIGHT_LOAD='바로 상차' AND DEAL_DATE<SYSDATE)
			AND (R_D_NO IS NOT NULL)
			) 
		]]>
	</select>
	
	<select id="calList" resultMap="reservationResultSet">
		<![CDATA[
			SELECT *
			FROM RESERVATION
			WHERE (
				(RIGHT_UNLOAD IS NULL AND END_DATE <SYSDATE)
			OR	(RIGHT_UNLOAD='바로 하차' AND RIGHT_LOAD IS NULL AND START_DATE<SYSDATE)
			OR	(RIGHT_UNLOAD='바로 하차' AND RIGHT_LOAD='바로 상차' AND DEAL_DATE<SYSDATE)
			AND (R_D_NO IS NOT NULL)
			) 	
		]]>
	</select>
	
</mapper>




















