<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservationMapper">
	<resultMap type="Reservation" id="reservationResultSet">
		<id property="rNo" column="R_NO"/>	<!-- 예약번호 -->
		<result property="rMNo" column="R_M_NO"/> <!-- 회원번호 -->
		<result property="rDNo" column="R_D_NO"/> <!-- 운전자번호 -->
		<result property="capacity" column="CAPACITY"/> <!-- 톤수 -->
		<result property="type" column="TYPE"/> <!-- 차종 -->
		<result property="startAddr" column="START_ADDR"/>	<!-- 출발지 -->
		<result property="endAddr" column="END_ADDR"/>	<!-- 도착지 -->
		<result property="startDate" column="STARTDATE"/>	<!-- 상차일 -->
		<result property="endDate" column="ENDDATE"/>	<!-- 하차일 -->
		<result property="helpLoad" column="HELP_LOAD"/>	<!-- 상차도움 -->
		<result property="helpUnload" column="HELP_UNLOAD"/>	<!-- 하차도움 -->
		<result property="luggage" column="LUGGAGE"/>	<!-- 짐 -->
		<result property="msg" column="MSG"/>			<!-- 메시지 -->
		<result property="dealYN" column="DEAL_YN"/>	<!-- 배차여부 -->
		<result property="dealDate" column="DEALDATE"/>	<!-- 배차일 -->
		<result property="enrollDate" column="ENROLLDATE"/><!-- 등록일 -->
	</resultMap>
	
	<select id="mibaechar" resultMap="reservationResultSet">
		<![CDATA[
			SELECT *
			FROM (SELECT *
				FROM RESERVATION
				ORDER BY ENROLLDATE DESC)
			WHERE DEAL_YN IS NULL
			AND CAPACITY = (SELECT CAPACITY
							FROM DRIVER
							WHERE D_M_NO  = #{mNo})
            AND TYPE = (SELECT TYPE
							FROM DRIVER
							WHERE D_M_NO  = #{mNo})
			AND ROWNUM <=10
		]]>
	</select>
	
	<select id="myBaechar" resultMap="reservationResultSet">
		<![CDATA[
			SELECT *
			FROM RESERVATION
			WHERE R_D_NO = (SELECT D_NO
							FROM DRIVER
							WHERE D_M_NO = #{mNo})
			AND ROWNUM <= 10
		]]>
	</select>
	
	<select id="driverCal" resultMap="reservationResultSet">
		SELECT *
		FROM RESERVATION
		WHERE R_D_NO = (SELECT D_NO
						FROM DRIVER
						WHERE D_M_NO = #{mNo})
	</select>
	<select id="driverModal" resultMap="reservationResultSet">
		SELECT * FROM RESERVATION
		WHERE R_NO = #{rNo}
	</select>
	
	<update id="deal">
		UPDATE RESERVATION
		SET R_D_NO = (SELECT D_NO
						FROM DRIVER
						WHERE D_M_NO = #{rMNo}),
			DEALDATE = SYSDATE,
			DEAL_YN = 'Y'
		WHERE R_NO = #{rNo}
	</update>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
			FROM (SELECT *
				FROM RESERVATION
				ORDER BY ENROLLDATE DESC)
			WHERE DEAL_YN IS NULL
			AND CAPACITY = (SELECT CAPACITY
							FROM DRIVER
							WHERE D_M_NO  = #{mNo})
            AND TYPE = (SELECT TYPE
							FROM DRIVER
							WHERE D_M_NO  = #{mNo})
	</select>
	
	<select id="baeList" resultMap="reservationResultSet">
		SELECT *
		FROM RESERVATION
		WHERE DEAL_YN IS NULL
			AND CAPACITY = (SELECT CAPACITY
							FROM DRIVER
							WHERE D_M_NO  = #{mNo})
            AND TYPE = (SELECT TYPE
							FROM DRIVER
							WHERE D_M_NO  = #{mNo})
		ORDER BY ENROLLDATE DESC
	</select>
	
	<update id="cancel">
		UPDATE RESERVATION
		SET R_D_NO = NULL,
			DEALDATE = NULL,
			DEAL_YN = 'N'
		WHERE R_NO = #{rNo}
	</update>
</mapper>




















