<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
 	<typeAliases>
		<typeAlias type="com.kh.yongdali.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.yongdali.cs.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.yongdali.reservation.model.vo.Reservation" alias="Reservation"/>
		<typeAlias type="com.kh.yongdali.myPage.model.vo.Address" alias="Address"/>
	</typeAliases>
	
 	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/reservation-mapper_njh.xml"/>
		<mapper resource="mappers/reservation-mapper.xml"/>
		<mapper resource="mappers/myPage-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
	</mappers>
	
</configuration>  
