@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
	font-family: 'yg-jalnan';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	min-width: 768px !important;
}

.btn_ydl {
	color: #fff;
	background-color: rgb(87, 187, 138);
	border-color: rgb(87, 187, 138);
}

.btn_ydl_r {
	color: #fff !important;
	background-color: rgb(241,95,95) !important;
	border-color: rgb(241,95,95) !important;
}

.btn_ydl_l {
	color: rgb(241,95,95) !important;
	background-color: white !important;
	border-color: rgb(241,95,95) !important;
}

.ydl_color {
	background-color: rgb(87, 187, 138) !important;
}

.ft_gr li>a{
	color: darkgray;
}
.ft_gr li>a:hover{
	
	color: rgb(87, 187, 138);;
}

.bgNo {
	background: none;
	font-size: 0.8em !important;
	padding: 0 !important;
	cursor: pointer;
}

.jal {
	font-family: 'yg-jalnan', Arial, Helvetica, sans-serif !important;
}

.na {
	font-family: 'nanumsquare', Arial, Helvetica, sans-serif !important;
}

.noto {
	font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif !important;
}

.step_sh {
	margin-top: 5em;
}

.nago {
	font-family: 'nanumgothic', Arial, Helvetica, sans-serif;
}

a {
	color: gray;
}

.fw6 {
	font-weight: 600;
}

/* mypage nav span태그 */
.semibar_span{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: 'yg-jalnan', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(43, 43, 43);
}

.semibar_span:after {
    display:block;
    content: '';
    border-bottom: solid 2px rgb(241,95,95);
    transform: scaleX(0);  
    transition: all .3s ease-in-out 0s;
}

.semibar_span:hover:after { 
    transform: scaleX(1); 
}

.semibar_span:after{
    transform-origin:  0% 50%; 
}


/* 점보트론 */
#driverMyPjumbo {
	 background-color: #fafbfc!important;
	 border-top: rgba(241,95,95,0.9) solid 3px !important;
	 
}

/* 프로필 사진 */
#pro_img{
    background-position-x: 50% !important;
    background-position-y: 50% !important;
    background-size: cover !important;
    display: block !important;
	height: 13em !important;
	width: 13em !important;
    text-size-adjust: 100% !important;
	z-index: 2 !important;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	}

.editP {
	position: absolute;
	right: 5px;
	bottom: 0px;
	cursor: pointer !important;
	z-index: 3 !important;
	color: white !important;
	background-color: rgb(241,95,95) !important;
	border: white 3px solid;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	line-height: 2em;
	margin: inherit;
	font-size: 1.8em;
}

.lg {
	color: gray !important;
}

.mgt {
	margin-top: 10px !important;
}

.hvDr {
	background: none;
	font-size: 0.8em !important;
	padding: 0 !important;
	cursor: pointer;
}

.hvDr:hover {
	background: none;
	font-size: 0.8em !important;
	padding: 0 !important;
	cursor: pointer;
	color: rgb(241,95,95);
}

/* 차량정보 */

.bBoxb {
	border: 1px solid #dedede;
	padding-top: 30px;
	padding-left: 30px !important;
	padding-right: 30px !important;
	padding-bottom: 15px;
	background: #fff;
}

.truckInfo1 {
	border: 1px solid #dedede;
	padding: 30px;
	padding-left: 30px !important;
	padding-right: 30px !important;
	background: #fff;
}

.carInf {
	margin: 0px !important;
	box-sizing: border-box;
}


.bdbt1 {
	border-bottom: 1px solid #dedede;
    padding-bottom: 5px;
}

.hvbs {
	color: black;
	cursor: pointer;
}

.hvbs:hover {
	color: rgb(241,95,95);
}

.mgt30 {
	
	margin-top: 30px !important;
}
.zoom-in {
	cursor: zoom-in;
}


.filBg {
}

.bszB{
	box-sizing: border-box !important;
	padding-right: 10px !important;
	padding-left: 0px !important;
}
.bszB1{
	box-sizing: border-box !important;
	padding-right: 10px !important;
}

/*정산 페이지*/
.ft54{
	box-sizing:content-box !important;
	height: 54px !important;
	border: none !important;
	box-shadow: none !important;
	background-color: #f3f5f7!important;
	padding: 0px !important;
}

.sch{
	width: 54px !important;
	height: 54px !important;
	margin: 0px !important;
}


.w30p{
	width: 30% !important;
}

.w40p{
	width: 30% !important;
}

.w50p{
	width: 50% !important;
}


input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.form-control {
	font-size: 18px !important;
	font-family: 'nanumsquare', Arial, Helvetica, sans-serif !important;
	padding-left: 5px !important;
}

@media (min-width: 768px) {
  .tbPdR {
    padding-right: 17px !important
  }
}
@media (min-width: 992px) {
  .tbPdR {
    padding-right: 37px !important
  }
}

