@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
	font-family: 'yg-jalnan';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.btn_ydl {
	color: #fff;
	background-color: rgb(87, 187, 138);
	border-color: rgb(87, 187, 138);
}

.btn_ydl_l {
	color: rgb(87, 187, 138) !important;
	background-color: white !important;
	border-color: rgb(87, 187, 138) !important;
}

.ydl_color {
	background-color: rgb(87, 187, 138);
}

.bgNo {
	background: none;
}

.jal {
	font-family: 'yg-jalnan', Arial, Helvetica, sans-serif !important;
}

.na {
	font-family: 'nanumsquare', Arial, Helvetica, sans-serif !important;
}

.noto {
	font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif !important;
}

.step_sh {
	margin-top: 5em;
}

.nago {
	font-family: 'nanumgothic', Arial, Helvetica, sans-serif;
}

a {
	color: gray;
}

.fw6 {
	font-weight: 600;
}

.red {
	color: red;
}

.semibar_span{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: 'yg-jalnan', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(43, 43, 43);
}

.semibar_span:after {
    display:block;
    content: '';
    border-bottom: solid 2px rgb(241,95,95);
    transform: scaleX(0);  
    transition: all .3s ease-in-out 0s;
}

.semibar_span:hover:after { 
    transform: scaleX(1); 
}

.semibar_span:after{
    transform-origin:  0% 50%; 
}

<!-- 주소록 -->
.mb_pd {
	padding: 0px 15px 15px 15px !important;
}

#addr_head{
	border-top: black solid 1px; 
	border-bottom: 1px solid #dedede; 
	padding: 10px;
}
.addr_body {
}

.addr_foot {
	
}

#addr_lb1 {
	padding: 0px !important;
	margin-top: 16px !important;
	font-size: 14px !important;
	line-height: 24px !important;
}

.addr_lb1 {
	padding: 0px !important;
	margin-top: 16px !important;
	font-size: 14px !important;
	line-height: 24px !important;
}

.modalAddr {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10000; /* Sit on top */
	padding-top: 150px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

#layerAd {
	display:none;
	position:fixed;
	overflow:hidden;
	z-index:1;
	-webkit-overflow-scrolling:touch;
}
#layerEd {
	display:none;
	position:fixed;
	overflow:hidden;
	z-index:1;
	-webkit-overflow-scrolling:touch;
}

#btncloseLayerAd {
	cursor: pointer;
	position: absolute;
	right: -3px;
	top: -3px;
	z-index: 1;
}

#btncloseLayerEd {
	cursor: pointer;
	position: absolute;
	right: -3px;
	top: -3px;
	z-index: 1;
}