@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
	font-family: 'yg-jalnan';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.btn_ydl {
	color: #fff;
	background-color: rgb(87, 187, 138);
	border-color: rgb(87, 187, 138);
}

.btn_ydl_l {
	color: rgb(87, 187, 138) !important;
	background-color: white !important;
	border-color: rgb(87, 187, 138) !important;
}

.ydl_color {
	background-color: rgb(87, 187, 138);
}

.bgNo {
	background: none;
}

.jal {
	font-family: 'yg-jalnan', Arial, Helvetica, sans-serif !important;
}

.na {
	font-family: 'nanumsquare', Arial, Helvetica, sans-serif !important;
}

.noto {
	font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif !important;
}

.step_sh {
	margin-top: 5em;
}

.nago {
	font-family: 'nanumgothic', Arial, Helvetica, sans-serif;
}

a {
	color: gray;
}

.fw6 {
	font-weight: 600 !important;
}

.red {
	color: red;
}
/* 마이페이지 점보트론 */
#driverMyPjumbo {
	 background-color: #fafbfc!important;
	 border-top: rgba(87, 187, 138,0.9) solid 3px !important;
}
.semibar_span{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: 'yg-jalnan', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(43, 43, 43);
}

.semibar_span:after {
    display:block;
    content: '';
    border-bottom: solid 2px rgb(87, 187, 138);
    transform: scaleX(0);  
    transition: all .3s ease-in-out 0s;
}

.semibar_span:hover:after { 
    transform: scaleX(1); 
}

/* 프로필 사진 */
#pro_img{
    background-position-x: 50% !important;
    background-position-y: 50% !important;
    background-size: cover !important;
    display: block !important;
	height: 13em !important;
	width: 13em !important;
    text-size-adjust: 100% !important;
	z-index: 2 !important;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	}
	
.editP {
	position: absolute;
	right: 5px;
	bottom: 0px;
	cursor: pointer !important;
	z-index: 3 !important;
	color: white !important;
	background-color: rgb(87, 187, 138) !important;
	border: white 3px solid;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	line-height: 2em;
	margin: inherit;
	font-size: 1.8em;
}

.lg {
	color: gray !important;
}

.mgt {
	margin-top: 10px !important;
}

.hvDr {
	background: none;
	font-size: 0.8em !important;
	padding: 0 !important;
	cursor: pointer;
}

.hvDr:hover {
	background: none;
	font-size: 0.8em !important;
	padding: 0 !important;
	cursor: pointer;
	color: rgb(87, 187, 138);
}



.hvbs {
	color: black;
	cursor: pointer;
}

.hvbs:hover {
	color: rgb(87, 187, 138);
}

.mgt30 {
	
	margin-top: 30px !important;
}
/* 마우스커서 줌인 */
.zoom-in {
	cursor: zoom-in;
}

/* 기본 박스 */
.bBoxb {
	border: 1px solid #dedede;
	padding-top: 30px;
	padding-left: 30px !important;
	padding-right: 30px !important;
	padding-bottom: 15px;
	background: #fff;
}

.semibar_span:after{
    transform-origin:  0% 50%; 
}

/* 주소록css */
.mb_pd {
	padding: 0px 15px 15px 15px !important;
}

#addr_head{
	border-top: black solid 1px; 
	border-bottom: 1px solid #dedede; 
	padding: 10px;
}
.addr_body {
}

.addr_foot {
	
}

#addr_lb1 {
	padding: 0px !important;
	margin-top: 16px !important;
	font-size: 14px !important;
	line-height: 24px !important;
}

.addr_lb1 {
	padding: 0px !important;
	margin-top: 16px !important;
	font-size: 14px !important;
	line-height: 24px !important;
}

.modalAddr {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10000; /* Sit on top */
	padding-top: 150px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

#layerAd {
	display:none;
	position:fixed;
	overflow:hidden;
	z-index:1;
	-webkit-overflow-scrolling:touch;
}
#layerEd {
	display:none;
	position:fixed;
	overflow:hidden;
	z-index:1;
	-webkit-overflow-scrolling:touch;
}

#btncloseLayerAd {
	cursor: pointer;
	position: absolute;
	right: -3px;
	top: -3px;
	z-index: 1;
}

#btncloseLayerEd {
	cursor: pointer;
	position: absolute;
	right: -3px;
	top: -3px;
	z-index: 1;
}


.searchFbtn { 
	height: 54px;
	width: 54px;
	color: white;
}


.mdC{
	max-width: 440px !important;
}
.modalBaseAd {
	padding: 23px !important;
	border: 1px solid #dedede !important;
	border-radius: 16px !important;
	width: 100%;
	max-width: 420px !important;
}
.filBg {
	background-color: #f3f5f7!important
}

.pd23 {
	padding: 23px !important;
}
.pl23 {
	padding-left: 23px !important;
}
.pr23 {
	padding-right: 23px!important;
}
.pb5 {
	padding-bottom: 5px !important;
}

.ft18 {
	font-size: 18px !important;
}

.addrLa {
	padding: 0 !important;
	margin-top: 16px !important; 
	font-size: 14px !important;
	line-height: 24px !important;
}

.p0mt10 {
	padding: 0px !important;
	margin-top: 10px !important;
}

.mdbtn{
	margin: 20px 10px 0px 10px !important;
}

.searchAddrBtn {
	padding: 0 !important;
	margin-top: 10px !important;
	height: 35px !important;
	line-height: 35px !important;
}
.addrIp{
	width: 100% !important;
	height: 35px !important;
}
.mb30 {
	margin-bottom: 30px !important;	
}

.addrHbt {
	border-top: black solid 1px !important;
	border-bottom: 1px solid #dedede !important;
	padding: 10px !important
}
.addrBbt {
	border-bottom: 1px solid #dedede !important;
	padding: 10px !important;
}