@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
	font-family: 'yg-jalnan';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.btn_ydl {
	color: #fff;
	background-color: rgb(87, 187, 138);
	border-color: rgb(87, 187, 138);
}

.btn_ydl_l {
	color: rgb(87, 187, 138) !important;
	background-color: white !important;
	border-color: rgb(87, 187, 138) !important;
}

.ydl_color {
	background-color: rgb(87, 187, 138);
}

.bgNo {
	background: none;
}

.jal {
	font-family: 'yg-jalnan', Arial, Helvetica, sans-serif !important;
}

.na {
	font-family: 'nanumsquare', Arial, Helvetica, sans-serif !important;
}

.noto {
	font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif !important;
}

.step_sh {
	margin-top: 5em;
}

.nago {
	font-family: 'nanumgothic', Arial, Helvetica, sans-serif;
}

a {
	color: gray;
}

.fw6 {
	font-weight: 600;
}

.red {
	color: red;
}

<!-- 주소록 -->
.mb_pd {
	padding: 0px 15px 15px 15px !important;
}

#addr_head{
	border-top: black solid 1px; 
	border-bottom: 1px solid #dedede; 
	padding: 10px;
}
.addr_body {
}

.addr_foot {
	
}

#addr_lb1 {
	padding: 0px !important;
	margin-top: 16px !important;
	font-size: 14px !important;
	line-height: 24px !important;
}

.addr_lb1 {
	padding: 0px !important;
	margin-top: 16px !important;
	font-size: 14px !important;
	line-height: 24px !important;
}